services:
  test-framework:
    build: .
    container_name: python_test_framework
    working_dir: /app
    environment:
      - PYTHONPATH=/app
    volumes:
      - .:/app
      - ./reports:/app/reports
      - ./logs:/app/logs
    command: pytest --html=reports/test_report.html --self-contained-html
    depends_on:
      - network_sim
    networks:
      - ai_test_framework_net


  network_sim:
    image: python:3.10
    container_name: network_sim
    working_dir: /app/network-sim
    volumes:
      - ./network-sim:/app/network-sim
      - ./logs/network:/app/logs
    command: python server.py
    ports:
      - "8080:8080"
    networks:
      - ai_test_framework_net

networks:
  ai_test_framework_net:
    driver: bridge
